@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

/* Início Header */

.header{
    background-color:#000000;
    width: 100%;
    height: 55px;
}

.header h1{
    font-size: 29px;
    float: left;
    color: white;
}

.header h1 a {
    text-decoration: none;
    color: white;
}

.header ul{
    list-style: none;
    float: right;
}

.header h1, .header ul{
    margin-top: 5px;
    font-family: 'Prompt', sans-serif;
}

.header li{
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 5px;
    background-color:rgb(87, 19, 75) 3px;
    font-size: 20px;
}

.header ul li a{
    text-decoration: none;
    color: white;
}

/* Fim Header */

/* Começo home content */
.home_content img{
    Width:537px;
    Height:537px;
    float:left;
}
.home_content_text_right{
    padding-top: 60px;
    padding-left: 650px;
}
.home_content_text_right h2{
    text-align: center;
}

.btn{
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    opacity: 0.9;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #919191;
  }

.home_content_text{
    margin-top: 127px;
}
.home_content_text h1{
    margin-left: 460px;
}
.home_content_tetx a{
    margin-left: 100px;
}
.content_row{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_colun1 img{
    height: 269px;
    width: 316px;
    
}
.content_colun2 img{
    height: 269px;
    width: 316px;
    
}
.content_colun1{
    margin-right: 90px;
    width: 316px;
    background-color: #d1d1d1;
}
.content_colun2{
    margin-left: 90px;
    width: 316px;
    background-color: #d1d1d1;
}
.content_colun2 h2,.content_colun1 h2{
    text-align: center;
}
.content_colun2 p,.content_colun1 p{
    padding-left: 8px;
}
/* Fim home content */
/* Início Footer */

.footer{
    margin-top: 30px;
    float: left;
    background-color: #000000;
    width: 100%;
    height: 60px;
}

.style_footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.div_footer_telefone, .div_footer_email, .div_footer_ajuda {
    border-radius: 5px;
    width: 300px;
    height: 45px;
    padding: 5px;
    color: white;
    font-weight: lighter;
}

.icones_footer{
    height: 45px;
    float: left;
    margin-right: 10px;
}

/* Fim Footer */
/* Começo Cadastro */
.formulario,.formulario_login {
    float: left;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    margin-left: 380px;
}
.formulario_login {
    margin-top: 110px;
    margin-bottom: 162px;
}
form label, form p{
    display: block;
    font-size: 20px;
    margin-bottom:10px ;
}
.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 90%;

    border-radius: 5px;
    border: solid 1px #bbbbbb;
}
#logo{
    margin-top: 34px;
    height: 420px;
    width: 420px;
    float: left;
}
/* Fim Cadastro */
/* Começo sobre */
.sobre_content{
    margin-top: 20px;
}
.sobre_content_img{
    margin-left: 450px;
    margin-top: 20px;
}
.sobre_content p{
    padding-top: 8px;
    text-align: justify;
    width: 80%;
    float: left;
    margin-top: 10px;
}
.img_sobre{
    width: 165px;
    height: 165px;
    margin-left: 18px;
}
.sobre_content h1{
   align-items: center;
}
/* Fim sobre */
/* Começo artigos */
.assunto {
    background-color:  #d1d1d1;
    border-bottom: solid  #000000; 
    text-align: center;
    width: 490px;
    padding-top: 20px;
    margin-top: 40px;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.assunto img{
    height: 200px;
    width: 400px;
}
.assunto_estilo {
    padding: 8px;
    margin-top: 30px;
    background-color: #d1d1d1;
    display: none;
}
.assunto_estilo  h2{
    text-align: center;
}
/* Fim artigos */
/* Começo fórum */
.topic{
    background-color:#d1d1d1;
    padding: 20px;
}
.topic img{
    width: 130px;
    height: 130px;
    float: left;
    margin-right: 8px;
}
.input{
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 12px;
    width: 70%;  
}
.input_search{
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 12px;
    width: 20%;  
}
.sub_topic{
    margin-left: 137px;
}
/* Fim fórum */
/* Começo treino */
.btn_treino{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: white;
    border-width: 1pt;
    font-size: .13in;
    font-weight: bold;
    height: .31in;
    overflow: hidden;
    text-align: center;
    width: .70in;
    text-transform: uppercase;
}
.box_title{
    width: 100px;
    height: 40px;
    background-color: grey;
}
.graph {
    background-color: #eaeaea;
    display: inline-block;
    width: 45%;
    height: 250px;
    margin: 10px;
    padding: 5px;
  }
  
  .dash {
    margin: auto;
    text-align: center;
  }
  .table_treino{
      background-color: grey;
      margin-left: 30px;
  }
  .formulario_treino{
    /* float: left; */
    width: 500px;
    margin-top: 34px;
    margin-left: 340px;
    display: none;
    
}
/* Fim treino */
/* Começo perfil */
.perfil{
    float: left;
    margin-right: 30px;
    margin-bottom: 113px;
}
.perfil img{
    width: 300px;
    height: 300px;
}
.perfil_btn{
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;
    opacity: 0.9;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 90px;
}
.perfil_char{
    padding-top: 60px;
}
/* Fim perfil */